
<div class="header">
    <h2>Pourfaction</h2>
    <img src="/static/images/logoPourfaction.png" alt="Illustration of two glasses clinking">
    
    <nav>
        <button aria-label="hamburger menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    
</div>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>