<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cocktails</title>

<link rel="stylesheet" href="/static/styles/style.css">
<link rel="stylesheet" href="/static/styles/detailPage.css">
<script defer src="static/scripts/cocktailAPI.js"></script>
<script defer src="static/scripts/ajax.js"></script>
