
<div class="header">
    <h1>Pourfaction</h1>
    <a href="/">
        <img src="/static/images/headerIcon.png" alt="Illustration of two glasses clinking">
    </a>
    <nav>
        <button>menu</button>
    </nav>
    
</div>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>