<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <p>Welcome to the accountpage of cock. Lets get drunk!!!!!!!</p>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>