<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/static/styles/styleError.css">
</head>

<body>
    
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1>404</h1>
        <p> Error 404: This cocktail has been served... somewhere else.</p>
        <a class="link" href="/">Go to homescreen</a>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- <script src="/static/scripts/common.js" defer></script>  -->
</body>