<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>

<h1>header 1</h1>
<h2>header 2</h2>
<h3>header 3</h3>
<p>Whether you're hosting a fancy dinner, planning a party, or just looking for a new favorite drink, our smart filters and recommendation system make it easy.
  Explore endless possibilities, get inspired, and craft your perfect pour.</p>
<button>button</button>

  <p>Welcome to the homepage of cock. Lets get drunk!</p>
  <form action="/searchCocktail" method="POST">  </form>
  <label for="searchBar"></label>
  <input id="searchBar" name="searchBar" type="text">
  <button type="submit">submit</button>

  <ul id="cocktailName">

  </ul>
  <ul id="cocktailIngredient">

  </ul>
  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

  <script src="/static/scripts/cocktailAPI.js" defer></script> 
  <!-- The script above is for getting access and searching for cocktails -->

</body>
</html>
