<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/static/styles/searchPage.css">

</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <section>
        <label for="searchBar"></label>
        <input placeholder="Search for cocktails here!"  size="30" id="searchBar" name="searchBar" type="text">
        <button id="searchButton" type="submit">submit</button>
    </section>
    <div>
        <details class="filter">
            <summary><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M11 20q-.425 0-.712-.288T10 19v-6L4.2 5.6q-.375-.5-.112-1.05T5 4h14q.65 0 .913.55T19.8 5.6L14 13v6q0 .425-.288.713T13 20z"/></svg> <span>(0 Drinks)</span></summary>
            <form action="">
                <fieldset>
                    <p>Alcoholic</p>
                    <div>
                        <input  type="checkbox" name="filter" id="Alcoholic">
                        <label for="Alcoholic">Alcoholic</label>
                    </div>
                    <div>
                        <input  type="checkbox" name="filter" id="NonAlcoholic">
                        <label for="NonAlcoholic">Non alcoholic</label>
                    </div>
                </fieldset>
                <fieldset>
                    <p>Glass Type</p>
                    <div>
                        <input type="checkbox" name="filter" id="HighballGlass">
                        <label for="HighballGlass">Highball glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="OldFashionedGlass">
                        <label for="OldFashionedGlass">Old-fashioned glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="CocktailGlass">
                        <label for="CocktailGlass">Cocktail glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="CopperMug">
                        <label for="CopperMug">Copper Mug</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="WhiskeyGlass">
                        <label for="WhiskeyGlass">Whiskey Glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="CollinsGlass">
                        <label for="CollinsGlass">Collins glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="PousseCafeGlass">
                        <label for="PousseCafeGlass">Pousse cafe glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="ChampagneFlute">
                        <label for="ChampagneFlute">Champagne flute</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="WhiskeySourGlass">
                        <label for="WhiskeySourGlass">Whiskey sour glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="BrandySnifter">
                        <label for="BrandySnifter">Brandy snifter</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="WhiteWineGlass">
                        <label for="WhiteWineGlass">White wine glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="NickAndNoraGlass">
                        <label for="NickAndNoraGlass">Nick and Nora Glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="HurricaneGlass">
                        <label for="HurricaneGlass">Hurricane glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="CoffeeMug">
                        <label for="CoffeeMug">Coffee mug</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="ShotGlass">
                        <label for="ShotGlass">Shot glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="Jar">
                        <label for="Jar">Jar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="IrishCoffeeCup">
                        <label for="IrishCoffeeCup">Irish coffee cup</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="PunchBowl">
                        <label for="PunchBowl">Punch bowl</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="Pitcher">
                        <label for="Pitcher">Pitcher</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="PintGlass">
                        <label for="PintGlass">Pint glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="CordialGlass">
                        <label for="CordialGlass">Cordial glass</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="BeerMug">
                        <label for="BeerMug">Beer mug </LABEL>
                </fieldset>
                <fieldset>
                            <p>Category</p>
                            <div>
                                <input type="checkbox" name="filter" id="Cocktail">
                                <label for="Cocktail">Cocktail</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="OrdinaryDrink">
                                <label for="OrdinaryDrink">Ordinary Drink</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="PunchPartyDrink">
                                <label for="PunchPartyDrink">Punch / Party Drink</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="Shake">
                                <label for="Shake">Shake</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="OtherUnknown">
                                <label for="OtherUnknown">Other / Unknown</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="Cocoa">
                                <label for="Cocoa">Cocoa</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="Shot">
                                <label for="Shot">Shot</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="CoffeeTea">
                                <label for="CoffeeTea">Coffee / Tea</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="HomemadeLiqueur">
                                <label for="HomemadeLiqueur">Homemade Liqueur</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="Beer">
                                <label for="Beer">Beer</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="SoftDrink">
                                <label for="SoftDrink">Soft Drink</label>
                            </div>                            
                </fieldset>
                </form>
        </details>

        <details class="sort">
            <summary> <p>Sorted by <span>Name</span></p> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4 18h4c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1m1 6h10c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1"/></svg></summary>
            <form action="">
            <fieldset>

                <input hidden type="radio" name="sort" id="nameSort">
                <label for="nameSort">Name</label>


                <input hidden type="radio" name="sort" id="newSort">
                <label for="newSort">Latest</label>
            

                <input hidden type="radio" name="sort" id="popularSort">
                <label for="popularSort">Popular</label>

                <input hidden type="radio" name="sort" id="ratingSort">
                <label for="ratingSort">Rating</label>
            </fieldset>
            </form>

        </details>
    </div>
  <ul id="cocktailName">

  </ul>
  <ul id="cocktailIngredient">

  </ul>
  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
    <script src="/static/scripts/searchAPI.js"></script>
  <!-- <script src="/static/scripts/cocktailAPI.js" defer></script>  -->
  <!-- The script above is for getting access and searching for cocktails -->
  <script src="/static/scripts/common.js" defer></script> 
</body>
</html>
