<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/styles/formPages.css">
  <script src="static/scripts/formPages.js"></script>
</head>

<body>

<header>
  <a href="javascript:history.back()">
    <img class="backButton" src="/static/images/backButton.svg" alt="back">
  </a>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="loginSignup">
    <h2>Sign up</h2>
    <p>Sign up with your information below! If you are under 18 years old, you will only see mocktails.</p>

    <form id="testform" action="/signup" method="POST">

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="e.g. Cocktail123" required="">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="e.g. pour@faction.com" required="">

      <label for="password">Password:</label>
      <p>Your password must have:</p>
      <ul>
        <li>At least 8 characters</li>
        <li>One upper- and one lowercase letter</li>
        <li>A number</li>
      </ul>
      <input type="password" id="password" name="userPassword" required="">

      <label for="birthday">Date of birth:</label>
      <input type="date" id="birthday" name="birthday" required="">


      <input class="loginSignupButton" type="submit" value="Sign up!">
    </form>         
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="/static/scripts/common.js" defer></script> 
</body>
</html>