section{
    padding: 1rem;
}

section img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: top center;
    border-radius: 1rem;
    z-index: 1;
}

section h1 {
    padding: 1rem 0;
    color: var(--color-dark);
    background: none;
}

.header{
    padding-left: 3rem;
    position: relative;
}

.backButton{
    position: absolute;
    padding: 0.8rem;
    z-index: 5;
}

h2 {
    font-size: 1rem;
    padding: 1rem 0;
    background: none;
}

section ul li{
    background: none;
}

#section1DetailPage p{
    padding-top: 1rem;
    /* background: none; */
}

#section1DetailPage{
    position: relative;
    z-index: 0;
}

.backgroundImage{
    position: absolute;
    width: 30%;
    height: 20%;
    border-radius: 0;
    background: none;
    opacity: 20%;
    top: 2rem;
    right: -1rem;
    z-index: -1;
}

.backgroundImage2{
    position: absolute;
    width: 100%;
    height: 60%;
    border-radius: 0;
    background: none;
    opacity: 20%;
    bottom: 0;
    z-index: 0;
}
