/****************************/
/* Intro Section Styling    */
/****************************/

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "img img header"
        "text text text"
        "subtext subtext subtext"
        "link link link";
    gap: 0.5rem;
    margin: 1em;
}

.intro {
    padding-left: 0;

    & img {
        grid-area: img;
    }

    & h2 {
        grid-area: header;
        align-self: center;
        line-height: 125%;
    }

    & p:first-of-type {
        grid-area: text;
        margin-top: 1rem;
    }

    & p:last-of-type {
        grid-area: subtext;
        font-weight: 200;
    }

    & a {
        grid-area: link;
        width: max-content;
        justify-self: end;
    }
}

.popularCarousel, .latestCarousel {
    margin-left: 1rem;
}

#popularCarouselContainer {
    position: relative;
    & .loginOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        opacity: .8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        z-index: 1;
        & a {
            text-decoration: underline;
        }
    }
}


