main section:first-of-type{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.25rem;
    border-bottom: black 1px solid;
}
/* main section > *{
    border: solid 1px green;
} */

main section input{
    background-image: url("../images/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: 95% center ;
    background-size: contain;
    min-width: 70vw;
}
main section input:focus{
    background-image: url("../images/deleteIcon.svg");
    background-repeat: no-repeat;
    background-position: 95% center ;
    background-size: contain;
}

/* I think it shouldnt be a background iamge because its not clickable ;/ */


/* Filter and sort styling */
main > div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.disabled *, .disabled input{
    pointer-events:none;
    cursor: not-allowed;
    /* filter:grayscale(1); */
    color: lightgray;

}

.logInMessage, .logInMessage a {
    color: var(--color-black);
    pointer-events: all;
    cursor: inherit;
}


/* animation for summary */

details > summary {
  cursor: pointer;
}


details::details-content{
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
  
.filter[open]::details-content{
    height: auto;
    transition: all 0.5s ease-out;
    position: absolute;
    z-index: 2;
}

.sort[open]::details-content{
    height: auto;
    transition: all 0.5s ease-out;
    position: absolute;
    z-index: 2;
}



/* details[open]{
} */
/* sort options */
/* .sort {
    border: black solid 1px;
    border-radius: 10px;
} */


.sort > summary, .filter > summary  {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    align-items: center;

}
.sort > summary{
    width: 185px;

}
.sort summary *{
    padding-right: .2rem;
    color: var(--color-white);

}

.sort form{
    display: flex;
    flex-direction: row;
    border: var(--color-black)solid 1px;  
    background-color: var(--color-white); 
    border-radius: 10px;
}
.sort fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;

}

.sort label{
    width: 180px;
    padding: .3rem;
    margin-top: .3rem;
}

input[type="radio"]:checked + label {
    background: linear-gradient(92deg, var(--midtone, #BCD7FF) 0.53%, var(--maybe, #76D5E2) 100%);
    color: var(--color-white);
}

/* Filter */

.filter summary *{
    color: var(--color-white); 
}

.filter form{
    display: flex;
    flex-direction: row;
    border: var(--color-black) solid 1px;  
    background-color: var(--color-white); 
    margin-left: .5rem;
    border-radius: 10px;
}

.filter fieldset{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: none;
}

.glassFilter summary{
    display: flex;
    flex-direction: column; 
}

/* Search results styling */

main ul{
    display: flex;
    flex-direction: column;
    transition: all ease 200ms;
    padding-top: 1rem;
    background-image: url(/static/images/index/introtext.jpg);
    height: 70vh;
    overflow-y: scroll;
}

main ul li{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(2.5px);
    max-width: 100vw;
    margin-left: 1rem;
    margin-right: 1rem;
}
main ul li a{
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
main ul li a img{

    position: relative;
    max-height:10rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
main ul li a div{
    margin-left: 0.2rem;
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .heartButton{
    width: auto;
} */

.list-item {
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
  }

.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}
.visible{
    opacity: 1;
    transform: translateY(0);
}

.none{
    display: none;
}