/**************/
/* CSS REMEDY */
/**************/
* {
    box-sizing:border-box;  
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
img {
    max-width: 100%;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-accent1: #76D5E2;
    --color-accent2: #EB81A9;
	--color-bright:#FEB737;
	--color-light: #FFEBAE;
	--color-dark: #543787;
	--color-midtone: #BCD7FF;
	--color-black: #240F4A;
    --color-white: #FFFCF7;

    --size-h1: 2rem;
    --size-h2: 1.625rem;
    --size-h3: 1.5rem;
    --size-text: 1.188rem;
    --size-button: 1.1rem;
   
    --lnHeight-Gaegu: 107%;
    --spacing-Gaegu: -0.074rem;
    --lnHeight-Calistoga: 112%;
    --spacing-Calistoga: 0;

}

@font-face {
	font-family: "Calistoga";
	src: url('../fonts/Calistoga-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Gaegu";
	src: url('../fonts/Gaegu-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Gaegu";
	src: url('../fonts/Gaegu-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Gaegu";
	src: url('../fonts/Gaegu-Light.ttf');
	font-weight: 200;
}

/*********************/
/* Base styling      */
/*********************/
* {
    color: var(--color-black);

    font-family: "Gaegu", Arial, Helvetica, sans-serif;
    font-size: var(--size-text);
    font-weight: 400;
    line-height: var(--lnHeight-Gaegu); 
    letter-spacing: var(--spacing-Gaegu);
}

body {
    background: var(--color-white);
}

/* Headings Styles */
h1, h2, h3, h4 {
    color: var(--color-dark);

    font-family: "Calistoga", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: var(--lnHeight-Calistoga); 
    letter-spacing: var(--spacing-Calistoga);

    padding: 1rem 0;
}

/* Specific Heading Sizes */
h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

/* Input Fields */
input {
    padding: 0.25rem 0.688rem;
    border-radius: 1.25rem;
    border: 3px solid #EB81A9;
}

/* Buttons and Links */
button, .link, input[type="submit"] {
    padding: 0.25rem 0.75rem;

    color: var(--color-white);
    background: linear-gradient(100deg, var(--color-accent2) 7.02%, var(--color-bright) 74.11%);
    
    border: none;
    border-radius: 3.75rem;

    font-family: "Calistoga", Arial, Helvetica, sans-serif;
    font-size: var(--size-button);
    letter-spacing: var(--spacing-Calistoga);

    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25); 
    cursor: pointer;
}

.link, input[type="submit"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.563rem;

    &::after {
        content: ">";
    }
}



/****************************/
/* Header Styling           */
/****************************/

/* Header Layout */
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem;

    color: var(--color-accent1);

    & img {
        order: -1;
        object-fit: contain;
    }

    & h2 {
        margin: 0;
    }

    & nav {
        display: contents;
    }
}

/* Navigation */
nav {
    & button {
        margin: 0.5rem;
        aspect-ratio: 1;
        z-index: 100;

        display: grid;
        place-items:  center;
  
        & span {
            display: block;
            
            width: 1.5rem;
            height: .15rem;
            border-radius: 2rem;
            background-color: var(--color-white);
            
            grid-row-start: 1;
            grid-column-start: 1;
            
            transition: .5s;
            
            &:nth-child(1) {
                translate: 0 -.5rem;
            }

            &:nth-child(3) {
                translate: 0 .5rem;
            } 
        }

        &.showMenu span {
             
            &:nth-child(1){
                translate: 0 0;
                rotate: 45deg;
            }    

            &:nth-child(2){
               scale: 0 1;
            }    

            &:nth-child(3){
                translate: 0 0;
                rotate: -45deg;
            }    
        }
    }

    & ul {
        position: fixed;
        z-index: 2;
        top: 0.5rem;
        right: 0.5rem;
        translate: 150% -50%;
        
        background-color: var(--color-white);
        
        border: 6px solid var(--color-accent1);
        border-radius: 100%;
        
        padding: 3rem;

        list-style: none;
        transition: 1s;

        & li {
            margin: 0.3rem;
        }

        &.showMenu {
            translate: 0%;       
        }
    }
}

/****************************/
/* Favoutite button         */
/****************************/
.heartButton {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px);
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;

    grid-area: like;
    width: max-content;
    justify-self: end;
    aspect-ratio: 1 / 1;
}

.heartButton svg {
    stroke: var(--color-dark);
    stroke-width: 0.4rem;
    fill: none;
    background: none;
    width: 1.2rem;
}

/* Favorite Animation */
@keyframes addFavourite {
    80% {
        fill: var(--color-accent2);
        transform: scale(1.3);
    }

    100% {
        fill: var(--color-accent2);
        transform: scale(1);
    }
}

button.favourited svg {
    animation-name: addFavourite;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


/****************************/
/* Simple Carousel Styling  */
/****************************/

/* Carousel Container */
.carousel {
    margin: 1rem;
    margin-left: 2rem;

    display: grid;
    grid-auto-flow: column;
    gap: 1rem;

    overflow: scroll;
    scroll-snap-type: x mandatory;

    /* Carousel Items */
    & li {
        scroll-snap-align: start;
        height: 30vw;
        aspect-ratio: 1 / 1;

        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: 
            ". favourite"
            ". ."
            ". name";

        & a {
            display: contents;

            & h3 {
                color: var(--color-black);
                font-size: var(--size-text);
                font-family: "Gaegu", Arial, Helvetica, sans-serif;
                letter-spacing: var(--spacing-Gaegu);

                border-radius: 1rem;
                background: rgba(255, 255, 255, 0.50);
                backdrop-filter: blur(2px);
                padding: 0.1rem 0.5rem;
                margin: 0.3rem;

                max-width: 100%;
                overflow-wrap: break-word;

                grid-area: name;
            }

            & img {
                grid-area: 1 / 1 / -1 / -1;
                align-self: stretch;
            }
        }

        /* Favorite Button */
        & form {
            display: contents;

            & button {
                grid-area: favourite;
            }
        }
    }
}


/****************************/
/* Popup favourited         */
/****************************/

.toast {
    position: fixed;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
    width: 95%;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(2.5px);
    color: white;
    padding: 1.5rem;
    margin: 2.5%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    border-radius: 1rem;

    & p {
        color: var(--color-black);
        font-size: var(--size-text);
        font-family: "Gaegu", Arial, Helvetica, sans-serif;
        letter-spacing: var(--spacing-Gaegu);
        align-self: center;
    }

    & a {
        color: var(--color-white);
        font-family: "Calistoga", Arial, Helvetica, sans-serif;
        font-size: var(--size-button);
        text-decoration: none;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.563rem;
        padding: 0.25rem 0.75rem;

        border-radius: 3.75rem;
        border: none;
        background: linear-gradient(100deg, var(--color-accent2) 7.02%, var(--color-bright) 74.11%);
        
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25); 
        cursor: pointer;

        align-self: center;
    }

    /* Toast Visibility */
    &.show {
        opacity: 1;
    }
}

